body {
  font-family: 'Inter', sans-serif;
}

.phrase-footer {
  font-family: 'Inria Sans', sans-serif;
  color: var(--light);
  opacity: .8;
}
h3 {
	font-size: 24px;
 	font-weight: 800;
}
p {
	font-size: 15px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--light);
}
.subtitle {
  text-align: center;
  max-width: 90%;
}