@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Inter:wght@100;200;300;400;600;700;800&display=swap');

@import './_fonts.css';
@import './_animations.css';

:root {
    --primary: #40B782;
    --secondary: #35495F;
    --light: #F5F3F5;
    --darker: #302B27;
    --dark: #363636;
}

.dark {
  --bg:  var(--dark);
  --header-bg:  var(--darker);
  --font-color-default:  var(--light);
  --btn-header: var(--primary);
  --skills-border: rgba(64, 183, 130, 0.31);
  --h1: var(--primary);
  --social-media: var(--primary);
}
.light {
  --bg:  var(--light);
  --header-bg:  var(--primary);
  --font-color-default: var(--secondary);
  --btn-header: var(--secondary);
  --skills-border: rgba(81, 81, 81, 0.25);
  --h1: var(--secondary);
  --social-media: var(--light);
}

* {
  margin: 0;
  padding: 0;
  transition: all .2s ease;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--darker);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--darker);  /* creates padding around scroll thumb */
}
.vue-custom-tooltip:after {
  background: var(--darker) !important;
  opacity: .95 !important;
  font-family: 'Inria Sans', sans-serif !important;
  border-radius: 5px !important;
  margin-bottom: 3px;
  max-width: 200px !important;
}
.vue-custom-tooltip:before {
  display: none;
}
.vue-custom-tooltip:after,  {
  transition: all .1s ease !important;
}
.vue-custom-tooltip.has-multiline:after {
  color: var(--light);
  max-width: 110px !important;
}
.content {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--font-color-default);
}
.pointer {
  cursor: pointer;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}